*{
    --blue-light:#B2CBD9
}

body{
    background-color:var(--blue-light) ;
    font-family:Arial, Helvetica, sans-serif ;
    display: flex;
    flex-direction: column;
    /* textt align is horizontal */
    text-align: center;
    /* align items is vertical */
    align-items: center;
}